<script>
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import KnowMore from "$lib/knowMore.svelte";
</script>

<div
  class="about text-center max-w-sm lg:max-w-4xl h-full py-32 px-8 flex flex-col items-center overflow-y-auto"
>
  <img
    class="w-52 p-8 mb-32"
    src="{base}/assets/logo_abertura_01.png"
    alt="Histórias do Subsolo"
  />
  <KnowMore src="{base}/texts/{$page.params.hasOwnProperty('lang') ? `${$page.params.lang}/` : ''}about.md" />
  <h2>Patrocínio</h2>
  <div class="flex flex-wrap justify-center">
    <img
      class="m-3 h-8 md:h-12"
      src="{base}/assets/logo_sebrae.png"
      alt="Sebrae"
    />
    <img
      class="m-3 h-8 md:h-12"
      src="{base}/assets/logo_fapeal.png"
      alt="Fapeal"
    />
  </div>
  <h2>Correalização:</h2>
  <div class="flex flex-wrap justify-center">
    <img
      class="m-3 h-8 md:h-12"
      src="{base}/assets/logo_caranto.png"
      alt="Caranto"
    />
    <img
      class="m-3 h-8 md:h-12"
      src="{base}/assets/logo_grao.png"
      alt="Grão Filmes"
    />
    <img
      class="m-3 h-8 md:h-12"
      src="{base}/assets/logo_lab.png"
      alt="Lab Hacker"
    />
    <img
      class="m-3 h-8 md:h-12"
      src="{base}/assets/logo_saudaveis.png"
      alt="Saudáveis Subversivos"
    />
  </div>
</div>

<style lang="postcss">
  :global(.about p) {
    @apply text-justify;
  }
  :global(.about h1) {
    @apply text-2xl font-bold underline pb-6 pt-12;
  }
  :global(.about h2) {
    @apply text-lg font-bold;
  }
  :global(.about ul) {
    @apply mb-6 mt-1;
  }
  :global(.about li) {
    @apply m-0 list-none;
  }
</style>
