<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { goto } from "$app/navigation";
  import { onMount } from "svelte";
  import { viewedChapters } from "$stores/store";
  import VimeoPlayer from "$lib/vimeoPlayer.svelte";
  import texts from "$data/texts";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  $: lang = $page.params.lang || "pt";
  $: pages = $page.params.hasOwnProperty("lang") ? pages_en : pages_pt;

  let videoReady = false;
  let loaded = false;

  const resetStore = () => {
    viewedChapters.set([1]);
    goto(
      `${base}/${
        $page.params.hasOwnProperty("lang") ? `${$page.params.lang}/` : ""
      }1`
    );
  };

  onMount(() => (loaded = true));
</script>

<div class="relative w-full h-full">
  <div
    class="absolute min-w-full h-full aspect-video transition-opacity duration-500"
    class:opacity-0={!videoReady}
  >
    <VimeoPlayer
      id="626106551"
      key="b721379331"
      autoplay={true}
      loop={true}
      on:bufferend={() => (videoReady = true)}
    />
  </div>

  <div class="absolute w-full h-full flex flex-col justify-center items-center">
    <div
      class="max-w-sm lg:max-w-lg max-h-full flex-grow px-8 flex items-center justify-center"
    >
      <div class="max-h-96 h-full flex flex-col items-center justify-around">
        <img
          class="w-32 transition-opacity duration-500"
          class:opacity-0={!loaded}
          src="{base}/assets/logo_abertura_01.png"
          alt="Histórias do Subsolo"
        />
        <div
          class="text-xs lg:text-sm text-center transition-opacity duration-500 delay-200"
          class:opacity-0={!loaded}
        >
          {@html pages.home.txt}
        </div>
        <div
          class="flex justify-around w-full transition-opacity duration-500 delay-500"
          class:opacity-0={!loaded}
        >
          {#if $viewedChapters.length === 0}
            <a
              class="button"
              href="{base}/{$page.params.hasOwnProperty('lang')
                ? `${$page.params.lang}/`
                : ''}1">{texts.start[lang]}</a
            >
          {:else}
            <button on:click={resetStore} class="button"
              >{texts.restart[lang]}</button
            >
            <a
              class="button"
              href="{base}/{$page.params.hasOwnProperty('lang')
                ? `${$page.params.lang}/`
                : ''}{$viewedChapters[$viewedChapters.length - 1]}"
              >{texts.continue[lang]}</a
            >
          {/if}
        </div>
      </div>
    </div>
    <div
      class="hidden md:flex portrait:flex items-center justify-center flex-wrap"
    >
      <div class="flex flex-col portrait:items-center mx-3 mt-3">
        <h2 class="text-[0.5rem] md:text-xs">{texts.sponsors[lang]}</h2>
        <div class="flex justify-center h-7 md:h-20 py-1 md:py-6">
          <img
            class="mx-3 h-full"
            src="{base}/assets/logo_sebrae.png"
            alt="Sebrae"
          />
          <img
            class="mx-3 h-full"
            src="{base}/assets/logo_fapeal.png"
            alt="Fapeal"
          />
        </div>
      </div>
      <div class="flex flex-col portrait:items-center pb-4 mx-3 mt-3">
        <h2 class="text-[0.5rem] md:text-xs">{texts.production[lang]}</h2>
        <div class="flex justify-center h-7 md:h-20 py-1 md:py-6">
          <img
            class="mx-3 h-full"
            src="{base}/assets/logo_caranto.png"
            alt="Caranto"
          />
          <img
            class="mx-3 h-full"
            src="{base}/assets/logo_grao.png"
            alt="Grão Filmes"
          />
          <img
            class="mx-3 h-full"
            src="{base}/assets/logo_lab.png"
            alt="Lab Hacker"
          />
          <img
            class="mx-3 h-full"
            src="{base}/assets/logo_saudaveis.png"
            alt="Saudáveis Subversivos"
          />
        </div>
      </div>
    </div>
  </div>
</div>
