<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";
  import { onMount, type SvelteComponent } from "svelte";
  import { fly } from "svelte/transition";
  import Icons from "./icons.svelte";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  $: pages = $page.params.hasOwnProperty('lang') ? pages_en : pages_pt;
  
  let component: ConstructorOfATypedSvelteComponent;
  let error = false;

  $: destination = $page.url.pathname;

  let chapter;
  let media;
  let mediaOptions;

  $: $page.url.hash, loadComponent();

  const loadComponent = () => {
    error = false;

    if ($page.url.hash === "") {
      component = null;
      return;
    }

    chapter = parseInt(
      $page.params.chapter || $page.url.hash.slice(1).split("-")[0]
    );
    media = parseInt(
      $page.params.chapter
        ? $page.url.hash.slice(1)
        : $page.url.hash.slice(1).split("-")[1]
    );
    mediaOptions = pages["page" + chapter].links[media];

    if (media > pages["page" + chapter].links.length - 1) {
      error = true;
      return;
    }

    import(`./extras/${pages["page" + chapter].links[media].type}.svelte`)
      .then((res) => (component = res.default))
      .catch((err) => {
        error = true;
        console.log(err);
      });
  };

  const closeExtra = () => goto(destination);

  onMount(() => {
    if (!$page.url.hash) console.log("error");
    loadComponent();
  });
</script>

<div
  transition:fly={{ y: 100, opacity: 0, duration: 500 }}
  class="absolute top-0 left-0 w-full h-full
        flex items-center justify-center bg-[#1f1f1f] z-[56]"
>
  <button
    on:click={closeExtra}
    class="absolute top-0 right-0 m-4 round-button flex items-center z-40"
  >
    <Icons type="close" />
  </button>
  <div
    class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
  >
    {#if component}
      <svelte:component
        this={component}
        options={mediaOptions}
        on:close={closeExtra}
      />
    {/if}
  </div>
  {#if error}
    Mídia não encontrada
  {/if}
</div>
