<script lang="ts">
	export let type = '';
	export let addClass = '';
</script>

<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 32 32"
	width="auto"
	height="auto"
	fill="currentColor"
	preserveAspectRatio="true"
	class={addClass}
>
	{#if type === 'arrow-left'}
		<path d="M12.9,16l6.6-6.6c0.4-0.4,0.4-1.1,0-1.5s-1.1-0.4-1.5,0l-7.4,7.3c-0.4,0.4-0.4,1.1,0,1.5l7.4,7.4c0.2,0.2,0.5,0.3,0.8,0.3c0.3,0,0.6-0.1,0.8-0.4c0.4-0.4,0.3-1.1-0.1-1.5L12.9,16z"/>
	{:else if type === 'arrow-right'}
		<path d="M21.4,15.2L14,7.9c-0.4-0.4-1.1-0.4-1.5,0c-0.4,0.4-0.4,1.1,0,1.5l6.6,6.6l-6.5,6.5c-0.4,0.4-0.5,1.1-0.1,1.5c0.2,0.2,0.5,0.4,0.8,0.4c0.3,0,0.6-0.1,0.8-0.3l7.3-7.4C21.8,16.3,21.8,15.7,21.4,15.2z"/>
  {:else if type === 'close'}
		<path d="M17.5,16l6.6-6.6c0.4-0.4,0.4-1.1,0-1.5c-0.4-0.4-1.1-0.4-1.5,0L16,14.5L9.4,7.8c-0.4-0.4-1.1-0.4-1.5,0c-0.4,0.4-0.4,1.1,0,1.5l6.6,6.6l-6.6,6.6c-0.4,0.4-0.4,1.1,0,1.5c0.2,0.2,0.5,0.3,0.8,0.3s0.6-0.1,0.8-0.3l6.6-6.6l6.6,6.6c0.2,0.2,0.5,0.3,0.8,0.3s0.6-0.1,0.8-0.3c0.4-0.4,0.4-1.1,0-1.5L17.5,16z"/>
  {:else if type === 'close-info'}
    <path d="M 15.125 8.003 C 15.125 7.445 15.528 6.68 16.498 6.68 C 17.582 6.68 17.927 7.533 17.902 7.987 C 17.865 8.718 17.305 9.251 16.515 9.23 C 15.436 9.201 15.125 8.425 15.125 8.003 Z M 24.244 12.567 L 17.709 17.833 L 17.709 23.352 L 22.339 23.352 L 22.339 25.385 L 10.535 25.385 L 13.056 23.466 L 15.28 23.428 L 15.28 19.792 L 9.085 24.785 L 7.603 22.948 L 22.762 10.729 L 24.244 12.567 Z M 17.709 11.602 L 15.28 13.636 L 10.42 13.636 L 10.42 11.602 L 17.709 11.602 Z" class="s-cWxYFLrPybIC" style=""/>
  {:else if type === 'close-filter'}
    <g>
      <path class="st0" d="M1.1,5.6h5c0.5,1.9,2.2,3.3,4.3,3.3c2.1,0,3.8-1.4,4.3-3.3h7.1L24,3.4h-9.2c-0.5-2-2.2-3.4-4.3-3.4
        S6.7,1.4,6.2,3.3h-5C0.5,3.3,0,3.8,0,4.5C0,5.1,0.5,5.6,1.1,5.6z M10.5,1.9c1.4,0,2.6,1.2,2.6,2.6S11.9,7,10.5,7S7.9,5.9,7.9,4.5
        S9.1,1.9,10.5,1.9z"/>
      <path class="st0" d="M1.1,17.1h9.2l2.2-2.2H1.2C0.5,14.9,0,15.4,0,16S0.5,17.1,1.1,17.1z"/>
      <path class="st0" d="M31,14.9h-1.1c-0.5-1.9-2.2-3.3-4.3-3.3c-0.2,0-0.5,0-0.7,0.1l-5.4,5.4h1.7c0.5,1.9,2.2,3.3,4.3,3.3
        s3.8-1.4,4.3-3.3h1.1c0.6,0,1.1-0.5,1.1-1.1S31.6,14.9,31,14.9z M25.5,18.7c-1.4,0-2.6-1.2-2.6-2.6c0-1.4,1.2-2.6,2.6-2.6
        s2.6,1.2,2.6,2.6C28.1,17.5,26.9,18.7,25.5,18.7z"/>
      <path class="st0" d="M31,26.5H20.3c-0.5-1.9-2.2-3.3-4.3-3.3s-3.8,1.4-4.3,3.3h-1.6l-2.2,2.2h3.7c0.5,1.9,2.2,3.3,4.3,3.3
        c2.1,0,3.8-1.4,4.3-3.3h10.6c0.6,0,1.1-0.5,1.1-1.1C31.9,27,31.6,26.5,31,26.5z M15.9,30.2c-1.4,0-2.6-1.2-2.6-2.6
        c0-1.4,1.2-2.6,2.6-2.6c1.4,0,2.6,1.2,2.6,2.6C18.6,29.1,17.4,30.2,15.9,30.2z"/>
    </g>
    <path class="st0" d="M29.9,0.4L0.4,29.9c-0.5,0.5-0.5,1.2,0,1.7C0.6,31.8,0.9,32,1.2,32s0.6-0.1,0.8-0.4L31.6,2.1
      c0.5-0.5,0.5-1.2,0-1.7C31.4,0.2,31.1,0,30.8,0S30.1,0.2,29.9,0.4z"/>
  {:else if type === 'filter'}
    <path d="M31,14.9h-1.1c-0.5-1.9-2.2-3.3-4.3-3.3s-3.8,1.4-4.3,3.3H1.2c-0.7,0-1.2,0.5-1.2,1.1c0,0.6,0.5,1.1,1.1,1.1
    h20.1c0.5,1.9,2.2,3.3,4.3,3.3s3.8-1.4,4.3-3.3h1.1c0.6,0,1.1-0.5,1.1-1.1C32,15.4,31.6,14.9,31,14.9z M25.5,18.7
    c-1.4,0-2.6-1.2-2.6-2.6s1.2-2.6,2.6-2.6s2.6,1.2,2.6,2.6S26.9,18.7,25.5,18.7z"/>
    <path d="M31,26.5H20.3c-0.5-1.9-2.2-3.3-4.3-3.3s-3.8,1.4-4.3,3.3H1.1C0.5,26.5,0,27,0,27.6s0.5,1.1,1.1,1.1h10.5
      c0.5,1.9,2.2,3.3,4.3,3.3s3.8-1.4,4.3-3.3h10.6c0.6,0,1.1-0.5,1.1-1.1S31.6,26.5,31,26.5z M15.9,30.2c-1.4,0-2.6-1.2-2.6-2.6
      s1.2-2.6,2.6-2.6s2.6,1.2,2.6,2.6C18.6,29.1,17.4,30.2,15.9,30.2z"/>
    <path d="M1.1,5.6h5c0.5,1.9,2.2,3.3,4.3,3.3s3.8-1.4,4.3-3.3h16.2c0.6,0,1.1-0.5,1.1-1.1s-0.5-1.1-1.1-1.1H14.8
      c-0.5-2-2.2-3.4-4.3-3.4S6.7,1.4,6.2,3.3h-5C0.5,3.3,0,3.8,0,4.5C0,5.1,0.5,5.6,1.1,5.6z M10.5,1.9c1.4,0,2.6,1.2,2.6,2.6
      S11.9,7,10.5,7S7.9,5.9,7.9,4.5S9.1,1.9,10.5,1.9z"/>
  {:else if type === 'external'}
    <path d="M 18.583 4.104 L 18.583 6.736 L 23.308 6.736 L 10.369 19.675 L 12.225 21.531 L 25.164 8.592 L 25.164 13.318 L 27.796 13.318 L 27.796 4.104 M 25.164 25.164 L 6.736 25.164 L 6.736 6.736 L 15.95 6.736 L 15.95 4.104 L 6.736 4.104 C 5.275 4.104 4.104 5.289 4.104 6.736 L 4.104 25.164 C 4.104 26.618 5.283 27.796 6.736 27.796 L 25.164 27.796 C 26.618 27.796 27.796 26.618 27.796 25.164 L 27.796 15.95 L 25.164 15.95 L 25.164 25.164 Z" style=""/>
  {:else if type === 'info'}
    <path d="M 17.893 11.829 L 17.893 22.976 L 22.285 22.976 L 22.285 24.906 L 11.086 24.906 L 11.086 22.976 L 15.587 22.976 L 15.587 13.759 L 10.976 13.759 L 10.976 11.829 L 17.893 11.829 Z M 15.477 8.414 C 15.477 7.884 15.859 7.159 16.78 7.159 C 17.809 7.159 18.123 7.968 18.113 8.399 C 18.098 9.026 17.675 9.584 16.795 9.578 C 15.772 9.571 15.477 8.814 15.477 8.414 Z" class="s-cWxYFLrPybIC" style=""/>
  {:else if type === 'instagram'}
		<g>
			<path d="M16,12.6c-1.8,0-3.3,1.5-3.3,3.3s1.5,3.3,3.3,3.3s3.3-1.5,3.3-3.3S17.8,12.6,16,12.6z"/>
			<path d="M23.8,10c-0.3-0.9-1-1.6-1.9-1.9c-0.6-0.2-1.2-0.3-1.9-0.3C19,7.7,18.7,7.7,16,7.7s-3,0-4.1,0.1c-0.6,0-1.3,0.1-1.9,0.3c-0.9,0.3-1.6,1-1.9,1.9c-0.2,0.6-0.3,1.2-0.3,1.9C7.7,13,7.7,13.3,7.7,16s0,3,0.1,4.1c0,0.6,0.1,1.3,0.3,1.9c0.3,0.9,1,1.6,1.9,1.9c0.6,0.2,1.2,0.3,1.9,0.4c1.1,0.1,1.4,0.1,4.1,0.1s3,0,4.1-0.1c0.6,0,1.3-0.1,1.9-0.4c0.9-0.3,1.6-1,1.9-1.9c0.2-0.6,0.3-1.2,0.4-1.9h0c0-1.1,0-1.4,0-4.1s0-3-0.1-4.1C24.1,11.3,24,10.6,23.8,10z M16,21.1c-2.8,0-5.1-2.3-5.1-5.1s2.3-5.1,5.1-5.1s5.1,2.3,5.1,5.1S18.8,21.1,16,21.1z M21.3,11.8c-0.7,0-1.2-0.5-1.2-1.2s0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2S22,11.8,21.3,11.8z"/>
			<path d="M0,0v32h32V0H0z M26,20.1c0,0.8-0.2,1.6-0.5,2.4c-0.5,1.3-1.6,2.4-2.9,2.9C21.8,25.8,21,26,20.1,26C19.1,26,18.7,26,16,26s-3.1,0-4.1-0.1c-0.8,0-1.7-0.2-2.4-0.5c-1.3-0.5-2.4-1.6-2.9-2.9c-0.3-0.8-0.4-1.6-0.5-2.4C6,19,6,18.7,6,16s0-3,0.1-4.1c0-0.8,0.2-1.6,0.5-2.4C7,8.1,8.1,7,9.4,6.5C10.2,6.2,11,6.1,11.9,6C12.9,6,13.3,6,16,6s3.1,0,4.1,0.1c0.8,0,1.6,0.2,2.4,0.5C23.9,7,25,8.1,25.5,9.4c0.3,0.8,0.5,1.6,0.5,2.5C26,13,26,13.3,26,16C26,18.7,26,19.1,26,20.1z"/>
		</g>
	{:else if type === 'menu-logo'}
			<path
				d="M8.2,20.5c-1.3-0.3-1.7-0.5-1.7-0.9l0,0c0-0.3,0.3-0.6,1-0.6c0.8,0,1.8,0.3,2.7,0.9l1.3-1.9
				c-1-0.8-2.3-1.3-3.9-1.3c-2.3,0-3.7,1.3-3.7,3.1l0,0c0,2,1.6,2.5,3.6,3c1.3,0.3,1.6,0.5,1.6,0.9l0,0c0,0.4-0.4,0.7-1.1,0.7
				c-1.1,0-2.2-0.4-3.1-1.1l-1.5,1.8c1.2,1.1,2.8,1.6,4.5,1.6c2.3,0,3.9-1.2,3.9-3.1l0,0C11.8,21.7,10.4,21,8.2,20.5z M19.2,22.3
				c0,1.3-0.7,2-1.8,2c-1.1,0-1.8-0.7-1.8-2V17H13v5.4c0,3,1.7,4.4,4.4,4.4s4.5-1.4,4.5-4.4v-5.3h-2.7C19.2,17.1,19.2,22.3,19.2,22.3z
				M30.1,21.5c0.8-0.4,1.5-1,1.5-2.1l0,0c0-0.7-0.2-1.2-0.6-1.5c-0.6-0.6-1.4-0.9-2.6-0.9h-4.9v9.6h4.9c2.3,0,3.6-1,3.6-2.6l0,0
				C32,22.5,31.3,21.9,30.1,21.5z M26,19.1h1.7c0.8,0,1.2,0.3,1.2,0.8l0,0c0,0.6-0.5,0.8-1.3,0.8H26V19.1z M29.4,23.5
				c0,0.6-0.5,0.9-1.3,0.9h-2v-1.8h2C28.9,22.6,29.4,22.9,29.4,23.5L29.4,23.5z M6,14.9h2.6V5.3H6v3.6H2.6V5.3H0v9.6h2.6v-3.6H6V14.9z
				M13.1,5.3h-2.7v9.6h2.7V5.3z M18.9,8.9c-1.3-0.3-1.7-0.5-1.7-0.9l0,0c0-0.3,0.3-0.6,1-0.6c0.8,0,1.8,0.3,2.7,0.9l1.3-1.9
				c-1-0.8-2.3-1.3-3.9-1.3c-2.3,0-3.7,1.3-3.7,3.1l0,0c0,2,1.6,2.5,3.6,3c1.3,0.3,1.6,0.5,1.6,0.9l0,0c0,0.4-0.4,0.7-1.1,0.7
				c-1.1,0-2.2-0.4-3.1-1.1l-1.5,1.8c1.2,1.1,2.8,1.6,4.5,1.6c2.3,0,3.9-1.2,3.9-3.1l0,0C22.5,10.1,21.1,9.4,18.9,8.9z"
			/>
	{:else if type === 'pause'}
		<g>
			<path d="M12.9,32H6.1c-0.3,0-0.6-0.3-0.6-0.6V0.6C5.4,0.3,5.7,0,6.1,0H13c0.3,0,0.6,0.3,0.6,0.6v30.8C13.6,31.7,13.3,32,12.9,32z"/>
			<path d="M25.9,32H19c-0.3,0-0.6-0.3-0.6-0.6V0.6C18.4,0.3,18.7,0,19,0h6.9c0.3,0,0.6,0.3,0.6,0.6v30.8C26.5,31.7,26.3,32,25.9,32z"/>
		</g>
	{:else if type === 'play'}
		<path d="M26.2,17.4L7.6,31.7c-1.1,0.8-2.5,0-2.5-1.4V1.8c0-1.4,1.5-2.2,2.5-1.4l18.6,14.2C27.1,15.3,27.1,16.7,26.2,17.4z"/>
  {:else if type === 'reload'}
    <path d="M16,6v-6L8.45,7.45,16,15V9A9.06,9.06,0,1,1,7,18h-3A12.07,12.07,0,1,0,16,6Z"/>
  {:else if type === 'search'}
    <path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
  {:else if type === 'skip'}
    <path d="M30.8,4.5c-0.6,0-1.2,0.6-1.2,1.2v9.6c0-0.2-0.2-0.2-0.2-0.4L16,4.7c-0.8-0.6-1.8,0-1.8,1v8.4L1.8,4.7 C1,4.1,0,4.7,0,5.7v20.5c0,1,1,1.6,1.8,1l12.3-9.4v8.4c0,1,1,1.6,1.8,1L29.3,17c0.2,0,0.2-0.2,0.2-0.4v9.6c0,0.6,0.6,1.2,1.2,1.2 c0.6,0,1.2-0.6,1.2-1.2V5.7C32,5.1,31.6,4.5,30.8,4.5z"/>
  {:else if type === 'video-backward'}
	<g>
		<path d="M3.1,14.8V14h4.2v0.8H3.1z"/>
		<path d="M10.9,17.9v-6.6L8.8,12v-0.9l3-1.2h0.1v7.9L10.9,17.9L10.9,17.9z"/>
		<path d="M19.2,16.2c-0.1,0.4-0.3,0.7-0.5,1c-0.2,0.3-0.5,0.5-0.8,0.6c-0.3,0.1-0.7,0.2-1.1,0.2s-0.8-0.1-1.1-0.2c-0.3-0.1-0.6-0.3-0.8-0.6s-0.4-0.6-0.5-1c-0.1-0.4-0.2-0.8-0.2-1.3V13c0-0.5,0.1-0.9,0.2-1.3c0.1-0.4,0.3-0.7,0.5-1c0.2-0.3,0.5-0.5,0.8-0.6c0.3-0.1,0.7-0.2,1.1-0.2c0.4,0,0.8,0.1,1.1,0.2s0.6,0.3,0.8,0.6c0.2,0.3,0.4,0.6,0.5,1c0.1,0.4,0.2,0.8,0.2,1.3v1.9C19.4,15.4,19.4,15.8,19.2,16.2z M18.4,12.3c0-0.3-0.1-0.5-0.2-0.7s-0.2-0.4-0.3-0.5c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.1-0.6-0.1c-0.2,0-0.5,0-0.6,0.1c-0.2,0.1-0.3,0.2-0.5,0.3c-0.1,0.2-0.3,0.4-0.3,0.7c-0.1,0.3-0.1,0.6-0.1,1v1.3c0,0.1,0,0.2,0,0.3s0,0.2,0,0.3L18.4,12.3z M18.4,13.9c0-0.1,0-0.2,0-0.3c0-0.2,0-0.3,0-0.4l-3.1,2.4c0,0.3,0.1,0.5,0.2,0.7s0.2,0.4,0.3,0.5c0.1,0.1,0.3,0.2,0.5,0.3c0.2,0.1,0.4,0.1,0.6,0.1c0.2,0,0.4,0,0.6-0.1s0.3-0.2,0.5-0.3c0.2-0.2,0.3-0.4,0.4-0.7c0.1-0.3,0.1-0.6,0.1-1L18.4,13.9L18.4,13.9z"/>
		<path d="M26.1,9.5h-3.4c-0.4,0-0.7,0.3-0.7,0.7s0.3,0.7,0.7,0.7h3.4c2.4,0,4.4,2,4.4,4.4c0,2.4-2,4.4-4.4,4.4H3.5v-1c0-0.2-0.2-0.3-0.4-0.2l-3,1.7c-0.2,0.1-0.2,0.4,0,0.5l3,1.7c0.2,0.1,0.4,0,0.4-0.2v-1h22.6c3.2,0,5.9-2.6,5.9-5.9C32,12.1,29.4,9.5,26.1,9.5z"/>
	</g>
	{:else if type === 'video-forward'}
		<g>
			<path d="M5.8,9.5h3.4c0.4,0,0.7,0.3,0.7,0.7S9.7,11,9.3,11H5.8c-2.4,0-4.4,2-4.4,4.4c0,2.4,2,4.4,4.4,4.4h22.6v-1c0-0.2,0.2-0.3,0.4-0.2l3,1.7c0.2,0.1,0.2,0.4,0,0.5l-3,1.7c-0.2,0.1-0.4,0-0.4-0.2v-1H5.8c-3.2,0-5.8-2.6-5.8-5.8C0,12.1,2.6,9.5,5.8,9.5z"/>
			<path d="M15.5,13.6v1h-2.2v2.5h-1v-2.5h-2.2v-1h2.2v-2.3h1v2.3H15.5z"/>
			<path d="M18.1,13.4c0.2,0,0.5,0,0.7-0.1c0.2-0.1,0.4-0.2,0.5-0.3s0.2-0.3,0.3-0.4s0.1-0.4,0.1-0.6c0-0.2,0-0.4-0.1-0.6s-0.1-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.4-0.2c-0.2-0.1-0.4-0.1-0.6-0.1s-0.4,0-0.6,0.1c-0.2,0.1-0.3,0.2-0.5,0.3c-0.1,0.1-0.2,0.3-0.3,0.4c-0.1,0.2-0.1,0.4-0.1,0.6h-1c0-0.3,0.1-0.6,0.2-0.9c0.1-0.3,0.3-0.5,0.5-0.7c0.2-0.2,0.5-0.4,0.8-0.5c0.3-0.1,0.6-0.2,1-0.2c0.4,0,0.7,0.1,1,0.1c0.3,0.1,0.5,0.2,0.8,0.4c0.2,0.2,0.4,0.4,0.5,0.7c0.1,0.3,0.2,0.6,0.2,1c0,0.1,0,0.3-0.1,0.5s-0.1,0.3-0.2,0.5c-0.1,0.2-0.2,0.3-0.4,0.4c-0.2,0.1-0.3,0.2-0.5,0.3c0.3,0.1,0.5,0.2,0.6,0.3c0.2,0.1,0.3,0.3,0.4,0.4c0.1,0.2,0.2,0.3,0.2,0.5c0,0.2,0.1,0.4,0.1,0.6c0,0.4-0.1,0.7-0.2,1c-0.1,0.3-0.3,0.5-0.5,0.7c-0.2,0.2-0.5,0.4-0.8,0.5s-0.6,0.2-1,0.2c-0.4,0-0.7,0-1-0.1c-0.3-0.1-0.6-0.2-0.8-0.4s-0.4-0.4-0.5-0.7c-0.1-0.3-0.2-0.6-0.2-0.9h1c0,0.2,0,0.4,0.1,0.6s0.2,0.3,0.3,0.4s0.3,0.2,0.5,0.3c0.2,0.1,0.4,0.1,0.6,0.1c0.2,0,0.4,0,0.6-0.1s0.3-0.1,0.5-0.3c0.1-0.1,0.2-0.3,0.3-0.5c0.1-0.2,0.1-0.4,0.1-0.6s0-0.5-0.1-0.6s-0.2-0.3-0.3-0.4c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.1-0.7-0.1h-0.7v-0.8L18.1,13.4L18.1,13.4z"/>
			<path d="M26.8,16.2c-0.1,0.4-0.3,0.7-0.5,1c-0.2,0.3-0.5,0.5-0.8,0.6c-0.3,0.1-0.7,0.2-1.1,0.2s-0.8-0.1-1.1-0.2c-0.3-0.1-0.6-0.3-0.8-0.6s-0.4-0.6-0.5-1c-0.1-0.4-0.2-0.8-0.2-1.3V13c0-0.5,0.1-0.9,0.2-1.3c0.1-0.4,0.3-0.7,0.5-1c0.2-0.3,0.5-0.5,0.8-0.6s0.7-0.2,1.1-0.2c0.4,0,0.8,0.1,1.1,0.2s0.6,0.3,0.8,0.6c0.2,0.3,0.4,0.6,0.5,1C26.9,12,27,12.5,27,13v1.9C27,15.4,26.9,15.8,26.8,16.2z M25.9,12.3c0-0.3-0.1-0.5-0.2-0.7c-0.1-0.2-0.2-0.4-0.3-0.5c-0.1-0.1-0.3-0.2-0.5-0.3c-0.2-0.1-0.4-0.1-0.6-0.1c-0.2,0-0.5,0-0.6,0.1c-0.2,0.1-0.3,0.2-0.5,0.3c-0.1,0.2-0.3,0.4-0.3,0.7s-0.1,0.6-0.1,1v1.3c0,0.1,0,0.2,0,0.3s0,0.2,0,0.3L25.9,12.3z M25.9,13.9c0-0.1,0-0.2,0-0.3c0-0.2,0-0.3,0-0.4l-3.1,2.4c0,0.3,0.1,0.5,0.2,0.7s0.2,0.4,0.3,0.5c0.1,0.1,0.3,0.2,0.5,0.3c0.2,0.1,0.4,0.1,0.6,0.1c0.2,0,0.4,0,0.6-0.1s0.3-0.2,0.5-0.3c0.2-0.2,0.3-0.4,0.4-0.7c0.1-0.3,0.1-0.6,0.1-1L25.9,13.9L25.9,13.9z"/>
		</g>
	{/if}
</svg>

<style lang="postcss">
	svg {
		@apply max-w-full max-h-full fill-current;
	}
</style>
