<script lang="ts">
  import { base } from "$app/paths";

  export let links: linksData[]
  let preloadImageUrls = []

  $: links, changePreloadImages()

  const changePreloadImages = () => {
    links.forEach(link => {
      if(link.type === 'imagem') preloadImageUrls.push(`${base}/img/${link.assets[0].src}.${link.assets[0].src === '7_0_0' ? 'gif' : 'jpg'}`)
      if(link.type === 'galeria') link.assets.forEach(asset => preloadImageUrls.push(`${base}/img/${asset.src}.jpg`))
    })
  }
</script>

<svelte:head>
  {#each preloadImageUrls as image}
    <link rel="preload" as="image" href={image} />
  {/each}
</svelte:head>