<script>
  import { fly } from 'svelte/transition'
  import Icons from "./icons.svelte"

  export let options
  let isInfoOpen = false

  const toggleInfos = () => {
    isInfoOpen = !isInfoOpen
  }
</script>

<button
  class="absolute round-button top-5 left-5 z-10"
  on:click={toggleInfos}>
  <Icons type={isInfoOpen ? 'close-info' : 'info'} />
</button>

{#if isInfoOpen}
<div
  transition:fly={{x: -300, opacity: 0, duration: 500}}
  class="absolute px-4 py-2 bg-black bg-opacity-30 top-24 left-5 flex flex-col z-20">
  {#each Object.keys(options) as option}
    {#if options[option] && option !== 'src'}
      {#if option === 'ref'}
      <span>link original:
        <a href={options[option]} target="_blanc" class="underline">
          {options[option]}
        </a>
      </span>
      {:else}
      <span>{options[option]}</span>
      {/if}
    {/if}
  {/each}
</div>
{/if}