<script lang="ts">
  import { onMount } from 'svelte'
  import SvelteMarkdown from 'svelte-markdown'

  export let src: string

  let ready = false
  let source = ''
  let txtWrapper: HTMLDivElement

  const updateLinks = () => {
    txtWrapper.querySelectorAll('a')
      .forEach(link => {
        link.setAttribute('target', '_blank');
      })
  }

  onMount(async function () {
    fetch(src)
      .then(response => {
        if(response.status === 200) response.text()
          .then(text => {
            ready = true
            source = text
          })
      })
  })
</script>

{#if ready}
<div
  bind:this={txtWrapper}
  class="txt">
  <SvelteMarkdown {source} on:parsed={updateLinks} />
</div>
{/if}

<style lang="postcss">
  :global(.txt a) { @apply underline text-red-600; }
  :global(.txt a:hover) { @apply text-white; }
  :global(.txt p) { @apply leading-8 mb-8; }
  :global(.txt li) { @apply ml-5 list-decimal mb-2; }
  :global(.txt h3) { @apply mt-16 mb-4; }
  :global(.txt h3),
  :global(.txt ol) {
    @apply text-[.8rem];
  }
</style>