<script lang="ts">
  import { fly } from 'svelte/transition'
  import { base } from '$app/paths'
  import { LottiePlayer } from '@lottiefiles/svelte-lottie-player'

  export let src: string
</script>

<div
  in:fly={{y: 100, delay: 1000, duration: 500}}
  out:fly={{y: 100, duration: 500}}
  class="lottie-wrapper max-w-full">
	<LottiePlayer
    src="{base}/animations/{src}"
    autoplay={true}
		loop={true}
		controls={false}
		renderer="svg"
		background="transparent"
	/>
</div>
