<script lang="ts">
  import anime from "animejs";
  import { page } from "$app/stores";
  import { createEventDispatcher, onMount } from "svelte";
  import LottieAnimation from "./lottieAnimation.svelte";
  import texts from "$data/texts";

  $: lang = $page.params.lang || "pt";
  const emit = createEventDispatcher();

  export let currentPage: string;
  export let data: documentsData;
  export let playing = false;
  export let playRequired: boolean;

  let finished = false;

  $: text = data.txt;

  let animate: HTMLDivElement;
  let letters: HTMLDivElement;

  $: if (playing) exit();
  $: playerLoading = !playing && !playRequired && finished;

  const exit = () => {
    if (!playing) emit("play");
    anime({
      targets: animate,
      width: "100%",
      easing: "cubicBezier(0.420, 0.000, 0.580, 1.000)",
      duration: 500,
      loop: false,
      complete: () => {
        emit("ended");
      },
    });
    anime({
      targets: letters,
      opacity: 0,
      easing: "cubicBezier(0.420, 0.000, 0.580, 1.000)",
      duration: 300,
      loop: false,
    });
  };

  onMount(() => {
    anime
      .timeline({ loop: false })
      .add({
        targets: animate,
        width: "0%",
        easing: "cubicBezier(0.420, 0.000, 0.580, 1.000)",
        duration: 500,
        delay: 500,
        loop: false,
      })
      .add({
        targets: letters.children,
        opacity: [0, 1],
        duration: 0.5,
        delay: anime.stagger(30),
        complete: () => {
          setTimeout(() => {
            finished = true;
            emit("play");
          }, text.split("").length * 10);
        },
      });
  });
</script>

<div
  class="absolute w-full h-full max-w-5xl mx-auto flex items-center portrait:items-end justify-center z-30"
>
  <div
    class="absolute w-full h-full p-4 flex flex-col items-center justify-center z-10"
  >
    <div class="flex-grow" />
    <h1 class="relative text-center">
      <div
        bind:this={animate}
        class="absolute w-full -top-4 -bottom-4 right-0"
        style="background: rgb(31 31 31)"
      />
      <mark>{currentPage}. {data.title}</mark>
    </h1>
    <p bind:this={letters} class="pt-8 text-center">
      {#each text.split("") as letter}
        <span class="letter opacity-0">{letter}</span>
      {/each}
    </p>
    <div class="flex-grow w-full flex justify-center">
      {#if finished && playRequired}
        <button class="absolute mt-6 p-4 uppercase" on:click={exit}>
          {texts.clickToStart[lang]}
        </button>
      {/if}
      {#if playerLoading}
        <div class="absolute mt-24 w-64 h-64 z-0">
          <LottieAnimation src="Loading_3.json" />
        </div>
      {/if}
    </div>
  </div>
</div>
