<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { fly } from "svelte/transition";
  import { viewedChapters, lastViewed } from "$stores/store.js";
  import Icons from "./icons.svelte";
  import texts from "$data/texts";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  $: lang = $page.params.lang || "pt";
  $: pages = $page.params.hasOwnProperty('lang') ? pages_en : pages_pt;

  let triggerMenu = false;

  $: $page.url.href, closeMenu();
  const closeMenu = () => (triggerMenu = true);
</script>

{#if $page.params.hasOwnProperty('chapter')}
  <button
    transition:fly={{ x: 100, opacity: 0, duration: 500 }}
    class="absolute top-0 right-0 m-4 z-50 round-button"
    on:click={() => (triggerMenu = !triggerMenu)}
  >
    <Icons type="menu-logo" />
  </button>

  <div
    transition:fly={{ x: 100, opacity: 0, duration: 500 }}
    class="absolute top-0 bottom-10 right-0 p-2 pt-16 transform apply-transition
      touch:w-screen touch:bg-neutral-500 touch:bottom-0 touch:pt-20
      {triggerMenu ? 'touch:translate-x-full' : ''}"
  >
    <div
      class="flex flex-col justify-around touch:justify-start mx-5 h-full overflow-x-hidden overflow-y-auto"
    >
      {#each Object.keys(pages) as Page}
      {#if Page !== 'home'}
        {@const currentChapter = $page.params.chapter || 0}
        {@const currentPage = Page.slice(4)}
        <a
          class="flex ml-auto items-center justify-end trigger-button text-white apply-transition w-full
            touch:justify-start touch:bg-transparent touch:ml-0 touch:mr-auto touch:bg-opacity-30 touch:mb-2
            hover:bg-black hover:bg-opacity-30 {currentChapter === currentPage
            ? 'touch:bg-black'
            : ''}"
          href="{base}/{$page.params.hasOwnProperty('lang') ? `${$page.params.lang}/` : ''}{currentPage}"
        >
          <span
            class="apply-transition text-white max-w-0 px-0 overflow-hidden whitespace-nowrap
              touch:max-w-full touch:px-2 touch:whitespace-normal uppercase"
            class:text-stone-400={$viewedChapters.includes(
              parseInt(currentPage)
            ) && currentChapter !== currentPage}
          >
            {Page.replace("page", "")}. {pages[Page].title}
          </span>
          <div
            class="w-6 h-3 flex items-center justify-center ml-4 touch:hidden"
          >
            <div
              class="w-2 h-2 bg-white bg-opacity-30 rounded-full apply-transition"
              class:viewed={$viewedChapters.includes(parseInt(currentPage)) &&
                currentChapter !== currentPage}
              class:current={currentChapter === currentPage}
            />
          </div>
        </a>
      {/if}
      {/each}
    </div>
  </div>
{:else if $page.route.id === '/[[lang=lang]]'}
  <a
  class="absolute top-0 right-0 m-4 z-50 round-button"
    href="{base}/{lang === 'pt' ? 'en' : ''}">
    {lang === 'pt' ? 'EN' : 'PT'}
  </a>
{:else}
  <a
    transition:fly={{ x: 100, opacity: 0, duration: 500 }}
    class="absolute top-0 right-0 m-4 z-50 round-button"
    href="{base}/{$lastViewed === 0 ? '' : $lastViewed}"
  >
    <Icons type="close" />
  </a>
{/if}

<div
  class="absolute top-0 right-0 z-40 transform apply-transition overflow-hidden
        touch:w-screen {triggerMenu ? 'max-w-0' : 'max-w-md'}"
>
  <div class="nav py-6 mr-2 z-40 flex flex-nowrap whitespace-nowrap">
    <a
      href="{base}/sobre"
      class="px-2 bg-black touch:bg-white touch:text-black"
    >
      {texts.about[lang]}
    </a>
    <a
      href="{base}/documentos"
      class="px-2 bg-black touch:bg-white touch:text-black"
    >
      {texts.room[lang]}
    </a>
    <a
      href="{base}/{lang === 'pt' ? 'en/' : ''}{$page.params.chapter}"
      class="px-2 bg-black touch:bg-white touch:text-black"
    >
      {lang === 'pt' ? 'EN' : 'PT'}
    </a>
  </div>
</div>

<style lang="postcss">
  .nav {
    padding-right: 4rem;
    justify-content: end;
  }

  .trigger-button:hover span {
    @apply max-w-full px-2;
  }

  .trigger-button:hover .rounded-full,
  .current {
    @apply w-3 h-3 bg-opacity-60;
  }

  .viewed {
    @apply w-1 h-1 bg-opacity-20;
  }

  button,
  a {
    @apply bg-opacity-30 uppercase transition-all flex items-center;
  }

  button:hover,
  a:hover {
    @apply bg-opacity-60;
  }

  @media (max-width: 420px) {
    .nav {
      padding-right: 0;
      justify-content: center;
    }
  }
</style>
