<script lang="ts">
  import { cubicInOut } from 'svelte/easing'
  import { viewedChapters } from '$stores/store.js'

  export let currentPage: number

  let lastPage = -1
  let up = true

  $: currentPage, changePage()

  const changePage = () => {
    setDirection()
  }

  const registerStorage = () => {
		if($viewedChapters.includes(currentPage)) return
    if(currentPage === 0) return
    $viewedChapters = [...$viewedChapters, currentPage]
	}

  const setDirection = () => {
    up = currentPage > lastPage
    lastPage = currentPage
  }

  const slide = (node: HTMLElement, {
    out = 1,
    duration = 0
  }) => {
		return {
			duration,
      out,
			css: (t: number) => {
        const eased = cubicInOut(t)
        return `transform: translateY(${out * (eased * 100 - 100)}%);`
      }
		}
	}
</script>

{#key currentPage}
  <div
    in:slide="{{ out: up ? -1 : 1, duration: 500 }}"
    out:slide="{{ out: up ? 1 : -1, duration: 500 }}"
    on:introend={registerStorage}
    class="absolute top-0 left-0 w-full h-full flex justify-center">
    <slot />
  </div>
{/key}
