<script lang="ts">
  import Icons from "./icons.svelte";
  import { createEventDispatcher } from 'svelte'

  const emit = createEventDispatcher()

  export let paused: boolean
  export let ended = false

  const togglePause = () => ended ? emit('restart') : emit('setPaused', !paused)
</script>

<button
  class="w-12 h-12 p-3 pb-0 lg:pt-2"
  on:click={togglePause}
  >
  {#if ended}
  <Icons type='reload' />
  {:else}
  <Icons type={paused ? 'play' : 'pause'} />
  {/if}
</button>