<script lang="ts">
  import { onMount } from "svelte";
  import parseSRT from "parse-srt";

  export let src: string;
  export let time: number;

  $: src, fetchSubtitles();

  let subtitles = [] as subtitle[];

  export const getStartingTime = () => {
    subtitles.forEach( (subtitle) => {
      if(time >= subtitle.start && time < subtitle.end) return subtitle.start
    });
    return -1;
  }

  const fetchSubtitles = () => {
    fetch(src).then((response) => {
      if (response.status === 200)
        response.text().then((text) => {
          subtitles = parseSRT(text);
        });
    });
  };

  onMount(async function () {
    fetchSubtitles();
  });
</script>

<div
  class="absolute w-full h-full flex justify-center items-center text-white overflow-hidden"
>
  {#each subtitles as subtitle}
    {#if time >= subtitle.start && time < subtitle.end}
      <span class="absolute w-full text-center font-light text-[.9rem]">
        {@html subtitle.text}
      </span>
    {/if}
  {/each}
</div>
