<script lang="ts">
  import Player from "@vimeo/player";
  import { onMount, createEventDispatcher } from "svelte";

  const emit = createEventDispatcher();

  export let id: string;
  export let key: string;
  export let autoplay = false;
  export let loop = false;
  export let ended = false;

  let options = {
    url: `https://player.vimeo.com/video/${id}${key ? "?h=" + key : ""}`,
    autoplay: autoplay,
    loop: loop,
    muted: autoplay,
    byline: false,
    controls: false,
    title: false,
    playsinline: true,
    responsive: true,
    keyboard: false,
    pip: false,
    portrait: false,
  };

  let playerDiv: HTMLDivElement;
  let player: Player;
  let currentDuration = 0;

  const playerSetup = () => {
    player.on("loaded", () => emit("loaded"));
    player.on("durationchange", (response: { duration: number }) => {
      currentDuration = response.duration;
      emit("durationchange", currentDuration);
    });
    player.on("bufferstart", () => emit("bufferstart"));
    player.on("bufferend", () => emit("bufferend"));
    player.on("progress", (data: currentTime) => emit("progress", data));
    player.on("play", () => emit("play"));
    player.on("playing", () => emit("playing"));
    player.on("pause", () => emit("pause"));
    player.on("timeupdate", (data: currentTime) => emit("timeupdate", data));
    player.on("ended", () => emit("ended"));
    player.on("error", (e: Error) => {
      if ((e.name = "NotAllowedError")) emit("notAllowed");
      emit("error", e);
    });
  };

  const keybordShortcutManager = (code: string) => {
    if (!ended) {
      if (code === "Space") togglePlay();
      else if (code === "ArrowRight")
        player.getCurrentTime().then((time: number) => seekTo(time + 5));
      else if (code === "ArrowLeft")
        player.getCurrentTime().then((time: number) => seekTo(time - 5));
    }
  };

  export const play = () => {
    player.play();
  };

  export const pause = () => {
    player.pause();
  };

  export const togglePlay = () => {
    player.getPaused().then((paused: boolean) => {
      if (paused) play();
      else pause();
    });
  };

  export const seekTo = (time: number) => {
    const newTime =
      time < 0 ? 0 : time > currentDuration ? currentDuration - 1 : time;
    player.setCurrentTime(newTime);
  };

  export const getPlayer = () => player;

  onMount(() => {
    player = new Player(playerDiv, options);
    player.ready().then(() => {
      playerSetup();
      player.getDuration().then((duration) => {
        currentDuration = duration;
        emit("durationchange", currentDuration);
      });
      document.addEventListener("keyup", (e) => keybordShortcutManager(e.code));
    });

    return () => {
      document.removeEventListener("keyup", (e) =>
        keybordShortcutManager(e.code)
      );
      player.unload();
    };
  });
</script>

<div on:click={togglePlay}>
  <div id="player" bind:this={playerDiv} />
</div>
