<script lang="ts">
  import { goto } from "$app/navigation";
  import { page } from "$app/stores";
  import { base } from "$app/paths";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  $: pages = $page.params.hasOwnProperty('lang') ? pages_en : pages_pt;

  export let foundDocuments = {};
  export let activeFilters: string[];
  export let interviewFilters: string[];
  let openPannels = [] as number[];
  let openDocuments = {};
  let lastFiltersPersist = {};
  let allFiltersRemoved = false;

  const toggleChapter = (chapter: number) => {
    if (openPannels.includes(chapter))
      openPannels.splice(openPannels.indexOf(chapter), 1);
    else openPannels.push(chapter);
    openPannels = openPannels;
  };

  const filterSearch = () => {
    let newPannelSetup = [];
    lastFiltersPersist = openDocuments;
    openDocuments = {};

    if (
      activeFilters.length === 0 &&
      Object.keys(foundDocuments).length === 0
    ) {
      if (openPannels.length === 0) return;
      allFiltersRemoved = true;
      interviewFilters = [];
    } else {
      if (interviewFilters.length > 0 && !activeFilters.includes("video"))
        interviewFilters = [];
      Object.keys(pages).forEach((chapter, key) => {
        Object.keys(pages[chapter].links).forEach((link, linkKey) => {
          if (
            activeFilters.length > 0 &&
            !activeFilters.includes(pages[chapter].links[link].type)
          )
            return;
          if (
            interviewFilters.length > 0 &&
            !interviewFilters.includes(
              pages[chapter].links[link].assets[0].name
            )
          )
            return;
          if (
            Object.keys(foundDocuments).length > 0 &&
            (!foundDocuments.hasOwnProperty(chapter.split("page")[1]) ||
              !foundDocuments[chapter.split("page")[1]].includes(
                linkKey.toString()
              ))
          )
            return;

          if (!(key in openDocuments)) openDocuments[key] = [];
          openDocuments[key].push(linkKey);
          if (!newPannelSetup.includes(key)) newPannelSetup.push(key);
        });
      });
      allFiltersRemoved = false;
    }
    interviewFilters = interviewFilters;
    openPannels = newPannelSetup;
  };

  $: foundDocuments, filterSearch();
  $: activeFilters, filterSearch();
  $: interviewFilters, filterSearch();

  $: isFiltered = (chapter: number, link: number) => {
    if (allFiltersRemoved)
      return (
        chapter in lastFiltersPersist &&
        lastFiltersPersist[chapter].includes(link)
      );
    if (Object.keys(openDocuments).length === 0) return true;
    return chapter in openDocuments && openDocuments[chapter].includes(link);
  };
</script>

<div class="flex-grow overflow-y-auto text-[#1f1f1f] w-full">
  <ol>
    {#each Object.keys(pages) as page, key}
      {@const chapter = key}
      {#if key > 0}
      <li>
        <button
          on:click={() => toggleChapter(chapter)}
          class="flex items-center"
        >
          <div
            class="triangle mx-1 transition-all"
            class:rotate-90={openPannels.includes(chapter)}
          />
          <h2>{chapter} - {pages[page].title}</h2>
        </button>
        <ol
          on:transitionend={() => (allFiltersRemoved = false)}
          class="pl-5 {openPannels.includes(chapter)
            ? 'max-h-[3000px]'
            : 'max-h-0'}
              overflow-hidden transition-all duration-500"
        >
          {#each Object.keys(pages["page" + chapter].links) as link, mediaKey}
            {@const media = pages["page" + chapter].links[link]}
            {#if isFiltered(chapter, mediaKey)}
              <li class="mt-2">
                {#if media.type === "link"}
                  <a
                    href={media.assets[0].src}
                    target="_blank"
                    rel="noreferrer"
                    class="flex w-full"
                  >
                    <div
                      class="w-3 h-3 mt-[0.4rem] flex items-center justify-center text-[.6rem] rounded-full uppercase {media.type} bg-current
                            md:w-[4.5rem]"
                    >
                      <span class="hidden md:block text-black"
                        >{pages["page" + chapter].links[link].type}</span
                      >
                    </div>
                    <div class="w-full pl-4">
                      {media.title}
                    </div>
                  </a>
                {:else}
                  <button
                    on:click={() =>
                      goto(`${base}/documentos#${chapter}-${mediaKey}`)}
                    class="flex w-full"
                  >
                    <div
                      class="w-3 h-3 mt-[0.4rem] flex items-center justify-center text-[.6rem] rounded-full uppercase {media.type} bg-current
                            md:w-[4.5rem]"
                    >
                      <span class="hidden md:block text-black"
                        >{media.type}</span
                      >
                    </div>
                    <div class="w-full pl-4">
                      {media.title}
                    </div>
                  </button>
                {/if}
              </li>
            {/if}
          {/each}
        </ol>
      </li>
      {/if}
    {/each}
  </ol>
</div>

<style lang="postcss">
  * {
    @apply text-left;
  }

  ol {
    @apply flex flex-col;
  }

  .triangle {
    @apply w-0 h-0 mr-3;

    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: 0.5rem solid black;
  }
</style>
