<script lang="ts">
  import { createEventDispatcher } from "svelte"
  import { page } from "$app/stores";
  import texts from "$data/texts";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";
  
  $: lang = $page.params.lang || "pt";
  $: pages = $page.params.hasOwnProperty('lang') ? pages_en : pages_pt;

  export let activeFilters: string[]
  export let interviewFilters: string[]

  const emit = createEventDispatcher()
  const filters = reorderData()

  function reorderData() {
    let types = []
    let interviews = []

    Object.keys(pages).forEach(chapter => {
      Object.keys(pages[chapter].links).forEach( link => {
        const currentLink = pages[chapter].links[link]
        if(!types.includes(currentLink.type)) types.push(currentLink.type)
        if( currentLink.type === 'video' &&
            currentLink.assets[0].name !== '' &&
            !interviews.includes(currentLink.assets[0].name)) interviews.push(currentLink.assets[0].name)
      })
    })

    types = types.sort((a, b) => a.localeCompare(b))
    interviews = interviews.sort((a, b) => a.localeCompare(b))

    return {types, interviews}
  }
</script>


<ol class="uppercase text-sm">
  {#each filters.types as filter}
  <li
    class="flex"
    class:text-black={filter === 'video'}>
    <button
      class="uppercase {filter} bg-current px-3 mb-2 rounded-full flex items-center"
      on:click={() => emit('toggleFilter', filter)}>
      <div
        class="w-2 h-2 border border-black rounded-full mr-2"
        class:bg-black={activeFilters.includes(filter)}
        />
      <span class="text-black">{texts[filter][lang]}</span>
    </button>
  </li>
  {#if filter === 'video'}
  <li class:text-black={filter === 'video'}>
    <ol class="pl-5 text-[.75rem]">
      {#each filters.interviews as interview}
      <li class="flex">
        <button
          class="video bg-current px-3 mb-2 rounded-full flex items-center"
          on:click={() => emit('toggleInterview', interview)}>
          <div
            class="w-2 h-2 border border-black rounded-full mr-2"
            class:bg-black={interviewFilters.includes(interview)}
            />
            <span class="text-black">{interview}</span>
        </button>
      </li>
      {/each}
    </ol>
  </li>
  {/if}
  {/each}
</ol>