<script lang="ts">
  import Icons from "$lib/icons.svelte";
  import { createEventDispatcher } from "svelte";
  import { page } from "$app/stores";
  import texts from "$data/texts";

  const lang = $page.params.lang || "pt";
  const emit = createEventDispatcher();
  export let searchValue = "";

  const handleEnter = (evt: KeyboardEvent) => {
    if (evt.key === "Enter") emit("close");
  };

  $: searchValue, emit("updateSearch", searchValue);
</script>

<div class="relative text-black">
  <input
    type="text"
    placeholder={texts.search[lang]}
    on:keypress={handleEnter}
    bind:value={searchValue}
    class="w-full rounded-full mb-8 px-8 py-1 outline-none"
  />
  <div class="absolute top-0 left-0 w-10 h-10 p-2">
    <Icons type="search" />
  </div>
  <button
    on:click={() => emit("updateSearch", "")}
    class="absolute top-0 right-0 w-8 h-8 p-1 rounded-full hover:bg-black hover:bg-opacity-30"
  >
    <Icons type="close" />
  </button>
</div>
