<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import texts from "$data/texts";

  $: lang = $page.url.pathname.split('/')[1] === 'en' ? 'en' : 'pt';
</script>

<div class="w-full h-full flex flex-col items-center justify-center">
  {texts.error[lang]}

  <a class="button mt-8 text-white" href="{base}/{lang === 'en' ? 'en/' : ''}">{texts.beginning[lang]}</a>
</div>
