<script lang="ts">
  import '../app.css'
  import { base } from '$app/paths'
  import { page } from '$app/stores'
  import { fly } from 'svelte/transition'
  import PageTransition from "$lib/pageTransition.svelte"
  import NavigationMenu from '$lib/navigationMenu.svelte'
  import ExtraContent from '$lib/extraContent.svelte'

  export let data

  let currentPage = 0

  $: ({url} = data)
  $: url, getPathName()

  $: {
    if (typeof gtag !== 'undefined') {
      gtag('config', 'G-3Y6BYNRT2S', {
        page_title: document.title,
        page_path: $page.url.pathname
      })
    }
  }

  function getPathName() {
    if(!url) return
    const parts = url.pathname.split('/')
    currentPage = parseInt(parts[parts.length - 1]) || 0
  }
</script>

<svelte:head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3Y6BYNRT2S"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3Y6BYNRT2S');
  </script>
</svelte:head>

<div class="relative w-full h-full overflow-hidden">
  <main
    class="absolute w-full h-full transition-colors"
    class:bg-neutral-300={$page.route.id === '/[[lang=lang]]/documentos'}>
    <PageTransition {currentPage}>
      <slot />
    </PageTransition>
  </main>

  <nav
    transition:fly={{x: 100, opacity: 0, duration: 500}}
    class="absolute top-0 right-0 h-full z-40 flex flex-col">
    <NavigationMenu />
  </nav>

  {#if $page.url.hash}
    <ExtraContent />
  {/if}

  <div
    class="absolute top-0 left-0 w-full h-[800vh] z-[100] transition-transform ease-in-out duration-500 pointer-events-none"
    style="
      background-image: url('{base}/assets/textura.png');
      transform: translateY(-{currentPage * 50}vh);" />
  <div
    class="absolute top-0 left-0 w-full h-[1200vh] z-[100] transition-transform ease-in-out duration-500 pointer-events-none"
    style="
      background-image: url('{base}/assets/linhas_01.svg');
      transform: translateY(-{currentPage * 75}vh);" />
</div>