<script lang="ts">
  import { base } from '$app/paths'
  import { createEventDispatcher } from 'svelte'
  import { timeToSeconds } from '$lib/helpers'
  import Icons from '$lib/icons.svelte'
  import Info from '$lib/info.svelte'
  import Progress from "$lib/progress/progress.svelte"
  import ProgressBar from "$lib/progress/progressBar.svelte"

  const emit = createEventDispatcher()

  export let options: extrasOptions

  let player: HTMLAudioElement
  let paused = true
  let elapsed = true
  let dragging = false
  let percent = 0
  let seconds = 0
  let duration = 0
  let load = false

  const play = () => player.play()
  const pause = () => player.pause()

  const timeupdate = () => {
    if(dragging) return
    percent = player.currentTime / player.duration
    seconds = player.currentTime
  }

  const loaded = () => {
    load = true
    durationchange()
  }

  const togglePlay = () => paused = !paused
  const durationchange = () => duration = player.duration

  const dragTo = (newTime: CustomEvent) => {
    dragging = true
    seconds = newTime.detail * duration
  }
  const seekTo = (newTime: CustomEvent) => {
    dragging = false
    percent = newTime.detail
    player.currentTime = percent * duration
    if(paused) paused = false
  }

  $: paused, playTrigger()
  const playTrigger = () => { if(player) paused ? pause() : play() }
</script>

<Info options={options.assets[0]} />

<div class="absolute w-full h-full flex items-center justify-center bg-[#1f1f1f] opacity-0 transition-opacity"
      class:opacity-100={load}>
  <div class="w-2/3 flex flex-col">
    <h1 class="mb-8">{options.assets[0].name}</h1>

    <div class="h-12 w-full flex items-center bg-black bg-opacity-30">
      <button
        on:click={togglePlay}
        class="h-12 w-12 p-4 mr-2">
        <Icons type="{paused ? 'play' : 'pause'}" />
      </button>
      <div class="flex-grow w-full">
        <Progress
          component={ProgressBar}
          playLength={percent}
          {paused}
          on:update={seekTo}
          on:drag={dragTo}
          on:transmit={seekTo}
          />
      </div>
      <button on:click={() => elapsed = !elapsed} class="mr-4 ml-6 w-14 text-right">
        {elapsed ? timeToSeconds(seconds) : '-' + timeToSeconds(duration - seconds)}
      </button>
    </div>
    <audio
      class="hidden"
      bind:this={player}
      on:timeupdate={timeupdate}
      on:canplay={loaded}
      on:ended={() => emit('close')}
      controls>
      <source src="{base}/audio/{options.assets[0].src}.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
  </div>
</div>