<script lang="ts">
  import { getGoogleURL } from "../helpers";
  import { base } from "$app/paths";
  import Info from "$lib/info.svelte";

  export let options: extrasOptions;
</script>

<Info options={options.assets[0]} />

<div class="w-full h-full flex flex-col">
  <div class="h-24 flex flex-col items-center justify-center">
    {options.title}
  </div>
  <object
    class="w-full h-full z-10"
    title="Documento"
    data="{base}/docs/{options.assets[0].src}.pdf"
  />
</div>
