<script lang="ts">
  import { base } from "$app/paths";
  import { cubicInOut } from "svelte/easing";
  import { swipe } from "svelte-gestures";
  import Info from "$lib/info.svelte";
  import LottieAnimation from "$lib/lottieAnimation.svelte";

  export let options: extrasOptions;

  let currentImage = 0;
  let isNext = true;

  let loadedImages = [];

  const nextPath = () => {
    isNext = true;
    currentImage =
      currentImage < options.assets.length - 1 ? currentImage + 1 : 0;
  };

  const prevPath = () => {
    isNext = false;
    currentImage =
      currentImage > 0 ? currentImage - 1 : options.assets.length - 1;
  };

  const changePath = (number: number) => {
    isNext = number > currentImage;
    currentImage = number;
  };

  const slide = (node: HTMLElement, { out = 1, duration = 0 }) => {
    return {
      duration,
      out,
      css: (t: number) => {
        const eased = cubicInOut(t);
        const direct = isNext ? out : -1 * out;
        return `transform: translateX(${direct * (eased * 100 - 100)}%)`;
      },
    };
  };

  const swipeHandler = (event: CustomEvent) => {
    if (event.detail.direction === "right") nextPath();
    if (event.detail.direction === "left") prevPath();
  };

  const loaded = (key: number) => {
    loadedImages.push(key);
    loadedImages = loadedImages;
  };
</script>

<Info options={options.assets[currentImage]} />

{#each options.assets as option, key}
  {#if currentImage === key}
    <div
      use:swipe={{ timeframe: 300, minSwipeDistance: 150, touchAction: null }}
      on:swipe={swipeHandler}
      in:slide|local={{ duration: 750 }}
      out:slide|local={{ out: -1, duration: 750 }}
      class="absolute w-full h-full flex items-center justify-center"
    >
      <img
        class="object-contain self-stretch"
        src="{base}/img/{options.assets[key].src}.jpg"
        alt={option.alt}
        on:load={() => loaded(key)}
      />
    </div>
    {#if !loadedImages.includes(key)}
      <div class="absolute w-64 h-64">
        <LottieAnimation src="Loading_3.json" />
      </div>
    {/if}
  {/if}
{/each}
<div class="absolute bottom-0 w-1/2 flex justify-center my-2 items-center">
  {#each options.assets as option, key}
    <button
      class="{currentImage === key
        ? 'w-4 h-4 opacity-100'
        : 'w-2 h-2 opacity-60'} mx-1 rounded-full bg-white"
      on:click={() => changePath(key)}
    />
  {/each}
</div>

<button
  use:swipe={{ timeframe: 300, minSwipeDistance: 150, touchAction: null }}
  on:swipe={swipeHandler}
  class="absolute h-full w-1/3 top-0 left-0 p-5 flex items-end lg:items-center"
  on:click={prevPath}
>
  <div class="round-button">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z"
      />
    </svg>
  </div>
</button>
<button
  use:swipe={{ timeframe: 300, minSwipeDistance: 150, touchAction: null }}
  on:swipe={swipeHandler}
  class="absolute h-full w-1/3 top-0 right-0 p-5 flex items-end lg:items-center justify-end"
  on:click={nextPath}
>
  <div class="round-button">
    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
      />
    </svg>
  </div>
</button>
