<script lang="ts">
  import { base } from "$app/paths";
  import Info from "$lib/info.svelte";
  import LottieAnimation from "$lib/lottieAnimation.svelte";

  export let options: extrasOptions;

  let buffering = true;
</script>

<Info options={options.assets[0]} />

{#if buffering}
  <div class="absolute w-64 h-64">
    <LottieAnimation src="Loading_3.json" />
  </div>
{/if}

<img
  class="object-contain self-stretch"
  src="{base}/img/{options.assets[0].src}.{options.assets[0].src === '7_0_0'
    ? 'gif'
    : 'jpg'}"
  alt={options.assets[0].alt}
  on:load={() => (buffering = false)}
/>
