<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { getVimeoID, getVimeoKey, timeToSeconds } from "../helpers";
  import Icons from "$lib/icons.svelte";
  import LottieAnimation from "$lib/lottieAnimation.svelte";
  import Progress from "$lib/progress/progress.svelte";
  import ProgressBar from "$lib/progress/progressBar.svelte";
  import VimeoPlayer from "$lib/vimeoPlayer.svelte";
  import Subtitles from "$lib/subtitles.svelte";
  import Info from "$lib/info.svelte";

  const emit = createEventDispatcher();

  export let options: extrasOptions;

  let video: VimeoPlayer;

  let buffering = true;
  let paused = true;
  let dragging = false;
  let playAllowed = true;

  let seconds = 0;
  let percent = 0;
  let duration = 0;

  let elapsed = true;

  const play = () => {
    if (buffering) buffering = false;
    video.play();
  };
  const pause = () => video.pause();
  const togglePlay = () => (paused ? play() : pause());
  const durationchange = (newDuration: CustomEvent) =>
    (duration = newDuration.detail);
  const timeupdate = (currentTime: CustomEvent) => {
    if (dragging) return;
    percent = currentTime.detail.percent;
    seconds = currentTime.detail.seconds;
  };
  const dragTo = (newTime: CustomEvent) => {
    dragging = true;
    seconds = newTime.detail * duration;
  };
  const seekTo = (newTime: CustomEvent) => {
    dragging = false;
    percent = newTime.detail;
    video.seekTo(percent * duration);
    if (paused) play();
  };
</script>

<div class="aspect-video m-auto w-full max-h-full">
  <VimeoPlayer
    bind:this={video}
    id={getVimeoID(options.assets[0].src)}
    key={getVimeoKey(options.assets[0].src)}
    on:loaded={play}
    on:playing={() => {
      buffering = false;
      playAllowed = true;
    }}
    on:play={() => (paused = false)}
    on:pause={() => (paused = true)}
    on:bufferstart={() => (buffering = true)}
    on:bufferend={play}
    on:durationchange={durationchange}
    on:timeupdate={timeupdate}
    on:ended={() => emit("close")}
    on:error={() => pause()}
    on:notAllowed={() => (playAllowed = false)}
  />
</div>

<Info options={options.assets[0]} />

{#if !playAllowed}
  <button on:click={play} class="absolute w-12 h-12">
    <Icons type="play" />
  </button>
{:else if buffering}
  <div class="absolute w-64 h-64">
    <LottieAnimation src="Loading_3.json" />
  </div>
{/if}

<div class="absolute w-full bottom-0 p-5">
  <div class="bg-black bg-opacity-30">
    {#if options.assets[0].srt !== ''}
    <div class="relative w-full h-11 mb-[2px] flex justify-center">
      <Subtitles
        src="{base}/subtitles/interviews/{$page.params.hasOwnProperty('lang')
          ? `${$page.params.lang}/`
          : ''}{options.assets[0].srt}.srt"
        time={seconds}
      />
    </div>
    {/if}
    <div class="h-12 flex items-center">
      <button on:click={togglePlay} class="h-12 w-12 p-4 mr-2">
        <Icons type={paused ? "play" : "pause"} />
      </button>
      <div class="flex-grow">
        <Progress
          component={ProgressBar}
          playLength={percent}
          {paused}
          on:update={seekTo}
          on:drag={dragTo}
          on:transmit={seekTo}
        />
      </div>
      <button
        on:click={() => (elapsed = !elapsed)}
        class="mr-4 ml-6 w-14 text-right"
      >
        {!elapsed
          ? timeToSeconds(seconds)
          : "-" + timeToSeconds(duration - seconds)}
      </button>
    </div>
  </div>
</div>
