<script lang="ts">
  import { page } from "$app/stores";
  import { fly } from "svelte/transition"
  import Icons from '$lib/icons.svelte'
  import DocList from '$lib/documents/docList.svelte'
  import FilterList from '$lib/documents/filterList.svelte'
  import SearchDocuments from "$lib/documents/searchDocuments.svelte"
  import texts from "$data/texts";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  $: lang = $page.params.lang || "pt";
  $: pages = $page.params.hasOwnProperty('lang') ? pages_en : pages_pt;

  let filterMenu = false
  let activeFilters = []
  let interviewFilters = []
  let foundDocuments = {}
  let searchValue = ''

  const toggleFilterList = () => filterMenu = !filterMenu

  const toggleFilter = (filter: CustomEvent | {detail: string}) => {
    if (activeFilters.includes(filter.detail)) {
      activeFilters.splice(activeFilters.indexOf(filter.detail), 1)
      if(filter.detail === 'video') disableInterviews()
    } else {
      activeFilters.push(filter.detail)
    }
    activeFilters = activeFilters
  }

  const toggleInterview = (filter: CustomEvent | {detail: string}) => {
    if(!activeFilters.includes('video')) toggleFilter({detail: 'video'})
    if (interviewFilters.includes(filter.detail)) interviewFilters.splice(interviewFilters.indexOf(filter.detail), 1)
    else { interviewFilters.push(filter.detail) }
    interviewFilters = interviewFilters
  }

  const disableInterviews = () => {
    interviewFilters = []
    interviewFilters = interviewFilters
  }

  const searchResults = (results: CustomEvent) => {
    searchValue = results.detail
    foundDocuments = {}
    if(searchValue !== '') {
      Object.keys(pages).forEach((chapter) => {
        Object.keys(pages[chapter].links).forEach(link => {
          Object.keys(pages[chapter].links[link]).forEach(attribute => {
            if(attribute === 'assets') {
              Object.keys(pages[chapter].links[link].assets).forEach (asset => {
                Object.keys(pages[chapter].links[link].assets[asset]).forEach (assetAtribute => {
                  const currentText = pages[chapter].links[link].assets[asset][assetAtribute]
                  if(currentText.toLowerCase().includes(searchValue.toLowerCase())) registerFound(chapter, link)
                })
              })
            } else {
              const currentText = pages[chapter].links[link][attribute]
              if(currentText.toLowerCase().includes(searchValue.toLowerCase())) registerFound(chapter, link)
            }
          })
        })
      })
    }
  }

  const registerFound = (chapter: string, link: string) => {
    const chapterNumber = parseInt(chapter.split('page')[1])
    if(!(chapterNumber in foundDocuments)) foundDocuments[chapterNumber] = []
    if(!foundDocuments[chapterNumber].includes(link)) foundDocuments[chapterNumber].push(link)
  }

  const closeMenu = (event: MouseEvent) => {
    if('id' in event.target && event.target['id'] === 'menu_wrapper') filterMenu = false
  }
</script>

<div class="w-full flex flex-col items-center">
  <div class="header px-16 py-4 flex flex-col items-center">
    <h1 class="text-center uppercase text-lg text-[#909090]">
      {texts.room[lang]}
    </h1>
    <button
      on:click={toggleFilterList}
      class="absolute top-4 left-4 round-button z-20">
      <Icons type={filterMenu ? 'close-filter' : 'filter'} />
    </button>
    {#if filterMenu}
    <button
      id="menu_wrapper"
      class="absolute top-0 left-0 w-full h-full overflow-y-auto z-10 flex"
      transition:fly={{x: -500}}
      on:click={closeMenu}>
      <div
        class="max-w-lg bg-black bg-opacity-60 pt-24 px-8">
        <SearchDocuments
          searchValue={searchValue}
          on:updateSearch={searchResults}
          on:close={() => filterMenu = false} />
        <FilterList
          on:toggleFilter={toggleFilter}
          on:toggleInterview={toggleInterview}
          activeFilters={activeFilters}
          interviewFilters={interviewFilters}/>
      </div>
    </button>
    {/if}
  </div>
  <div class="pb-8 px-8 overflow-y-auto w-full max-w-6xl">
    <DocList
      activeFilters={activeFilters}
      interviewFilters={interviewFilters}
      foundDocuments={foundDocuments} />
  </div>
</div>