<script lang="ts">
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { lastViewed } from "$stores/store.js";
  import { getVimeoID, getVimeoKey } from "$lib/helpers";
  import { fly } from "svelte/transition";
  import Progress from "$lib/progress/progress.svelte";
  import ProgressCurve from "$lib/progress/progressCurve.svelte";
  import CurveLinks from "$lib/progress/curveLinks.svelte";
  import Subtitles from "$lib/subtitles.svelte";
  import PlayButton from "$lib/playButton.svelte";
  import VimeoPlayer from "$lib/vimeoPlayer.svelte";
  import MainAnimation from "$lib/mainAnimation.svelte";
  import KnowMore from "$lib/knowMore.svelte";
  import ImagePreloader from "$lib/imagePreloader.svelte";
  import Icons from "$lib/icons.svelte";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  $: pages = $page.params.hasOwnProperty("lang") ? pages_en : pages_pt;
  $: data = pages["page" + $page.params.chapter] || pages["page1"];

  let video: VimeoPlayer;
  let subtitles: Subtitles;

  let paused = true;
  let moreInfo = false;

  let videoLoaded = false;
  let videoStarted = false;
  let animationEnded = false;
  let videoEnded = false;
  let playAllowed = true;

  let selectedPoint = 0;

  let dragging = false;
  let percent = 0;
  let seconds = 0;
  let duration = 0;

  const play = () => {
    moreInfo = false;
    if (!$page.url.hash) video.play();
  };
  const pause = () => video.pause();

  const setPaused = (pauseStatus: CustomEvent) =>
    pauseStatus.detail ? pause() : play();
  const durationchange = (newDuration: CustomEvent) =>
    (duration = newDuration.detail);
  const timeupdate = (currentTime: CustomEvent) => {
    if (dragging) return;
    percent = currentTime.detail.percent;
    seconds = currentTime.detail.seconds;
  };

  const dragTo = (newTime: CustomEvent) => {
    dragging = true;
    seconds = newTime.detail * duration;
  };

  const seekTo = (newTime: CustomEvent) => {
    dragging = false;
    percent = newTime.detail;
    const newSeekTime =
      subtitles && subtitles.getStartingTime() >= 0
        ? subtitles.getStartingTime()
        : percent * duration;
    video.seekTo(newSeekTime);
  };

  const restart = () => {
    video.seekTo(0);
    videoEnded = false;
    play();
  };

  const changePoint = (point: number) => {
    if (point >= 0 && point < data.links.length) selectedPoint = point;
  };

  const updatePoint = (point: CustomEvent) =>
    changePoint(parseInt(point.detail));

  $: hasNext = Object.keys(pages).length > parseInt($page.params.chapter);
  $: canPlay = animationEnded && videoLoaded && playAllowed;
  const playTest = () => {
    if (video) {
      play();
      pause();
    }
  };

  $: $page.url.hash, disableAnimation();
  const disableAnimation = () => {
    if (!animationEnded) playTest();
  };

  $: $page.params.chapter, updateStore();
  const updateStore = () => {
    if (parseInt($page.params.chapter) > $lastViewed)
      lastViewed.set(parseInt($page.params.chapter));
  };
</script>

<ImagePreloader links={data.links} />

<div class="relative w-full h-full flex justify-center">
  <div
    class="absolute aspect-video min-w-full min-h-full apply-transition
          top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
    class:opacity-0={paused || !canPlay}
  >
    <VimeoPlayer
      bind:this={video}
      ended={paused}
      id={getVimeoID(data.bg)}
      key={getVimeoKey(data.bg)}
      on:loaded={() => (videoLoaded = true)}
      on:durationchange={durationchange}
      on:playing={() => {
        videoStarted = true;
        playAllowed = true;
        moreInfo = false;
      }}
      on:play={() => (paused = false)}
      on:pause={() => (paused = true)}
      on:timeupdate={timeupdate}
      on:error={pause}
      on:ended={() => (videoEnded = true)}
      on:notAllowed={() => (playAllowed = false)}
    />
  </div>

  {#if !canPlay}
    <MainAnimation
      {data}
      currentPage={$page.params.chapter}
      playing={videoStarted}
      playRequired={!playAllowed}
      on:play={play}
      on:isPlayAllowed={playTest}
      on:ended={() => (animationEnded = true)}
    />
  {/if}
  <div
    class="absolute w-full h-full flex justify-center apply-transition"
    class:opacity-0={!canPlay}
  >
    <div class="relative w-full max-w-5xl h-full flex flex-col justify-center">
      {#if moreInfo}
        <div
          transition:fly={{ y: -150, opacity: 0, duration: 750 }}
          class="more-info absolute h-full w-full pt-32 px-8 pb-8 z-30"
        >
          <div class="h-full w-full overflow-y-auto">
            <KnowMore
              src="{base}/texts/{$page.params.hasOwnProperty('lang')
                ? `${$page.params.lang}/`
                : ''}{$page.params.chapter}.md"
            />
          </div>
        </div>
      {/if}

      <div class="header px-16 py-8 flex flex-col">
        <h1 class="text-center">
          <mark class="opacity-60">{$page.params.chapter}. {data.title}</mark>
        </h1>
      </div>

      <div class="curve relative h-full w-full flex-grow z-20">
        <div
          class="absolute w-full h-full flex flex-row-reverse items-end apply-transition p-2 lg:p-4 pt-0
              lg:flex-col portrait:flex-col lg:items-center portrait:items-center"
          class:opacity-0={moreInfo}
          class:translate-y-40={moreInfo}
        >
          <div class="w-full apply-transition flex-grow" />
          <div
            class="aspect-[2/1] relative h-full max-w-[140vh] flex justify-center portrait:h-auto lg:h-auto lg:w-full"
          >
            <Progress
              component={ProgressCurve}
              playLength={percent}
              config={selectedPoint}
              {paused}
              on:update={seekTo}
              on:drag={dragTo}
              on:transmit={updatePoint}
            />
            <div
              class="links flex items-center absolute top-0 portrait:-top-12 w-3/5 h-2/3"
            >
              {#if paused}
                <CurveLinks
                  currentPoint={selectedPoint}
                  points={data.links}
                  on:updatePoint={updatePoint}
                />
              {/if}
            </div>
          </div>
          <div
            class="apply-transition flex justify-start items-end w-full flex-grow
                      lg:justify-center portrait:justify-center
                      {paused
              ? 'lg:flex-grow portrait:flex-grow'
              : 'lg:flex-grow-0 portrait:flex-grow-0'}"
          >
            <PlayButton
              {paused}
              ended={videoEnded}
              on:setPaused={setPaused}
              on:restart={restart}
            />
          </div>
        </div>
      </div>

      <div
        class="absolute bottom-0 w-full flex flex-col bg-opacity-30 z-10 apply-transition"
        class:bg-black={!paused}
      >
        <div class="relative w-full h-11 mb-[2px] flex justify-center">
          {#if !paused}
            <Subtitles
              bind:this={subtitles}
              src="{base}/subtitles/main/{$page.params.hasOwnProperty('lang')
                ? `${$page.params.lang}/`
                : ''}{$page.params.chapter}.srt"
              time={seconds}
            />
          {/if}
        </div>
        <div
          class="w-full h-[5vw] lg:h-[7rem] portrait:h-[4.5rem] flex items-end justify-between uppercase px-4"
        />
      </div>
    </div>
  </div>
  {#if canPlay && paused}
    <button
      transition:fly={{ x: -50, opacity: 0, duration: 200 }}
      class="absolute top-4 left-4 round-button z-40"
      on:click={() => (moreInfo = !moreInfo)}
    >
      <Icons type={moreInfo ? "close-info" : "info"} />
    </button>

    {#if hasNext && !moreInfo}
      <a
        transition:fly={{ y: 50, opacity: 0, duration: 500 }}
        class="absolute w-8 h-8 bottom-3 right-6 uppercase z-30 apply-transition opacity-30 hover:opacity-60 touch:opacity-100"
        href="{base}/{$page.params.hasOwnProperty('lang')
          ? `${$page.params.lang}/`
          : ''}{parseInt($page.params.chapter) + 1}"
      >
        <div class="transform rotate-90 p-1">
          <Icons type="play" />
        </div>
      </a>
    {/if}
  {/if}
</div>
