<script lang="ts">
  import { createEventDispatcher } from "svelte";
  import { base } from "$app/paths";
  import { page } from "$app/stores";
  import { cubicInOut } from "svelte/easing";
  import { goto } from "$app/navigation";
  import { swipe } from "svelte-gestures";
  import Icons from "$lib/icons.svelte";
  import texts from "$data/texts.json";

  $: lang = $page.params.lang || "pt";
  const emit = createEventDispatcher();

  export let currentPoint: number;
  export let points: linksData[];

  let lastPoint = 0;
  let flyDirection = 1;

  $: currentPoint, setFlyDirection();
  $: currentMedia = points[currentPoint];

  const swipeHandler = (event: CustomEvent) => {
    if (event.detail.direction === "left") updatePoint(currentPoint + 1);
    if (event.detail.direction === "right") updatePoint(currentPoint - 1);
  };

  const updatePoint = (point: number) => emit("updatePoint", point);

  const setFlyDirection = () => {
    flyDirection = currentPoint > lastPoint ? 1 : -1;
    lastPoint = currentPoint;
  };

  const slide = (node: HTMLElement, { out = 1, duration = 0 }) => {
    const o = +getComputedStyle(node).opacity;
    return {
      duration,
      out,
      css: (t: number) => {
        const eased = cubicInOut(t);
        return `transform: translateX(${
          out * (eased * 100 - 100)
        }px); opacity: ${t * o}`;
      },
    };
  };
</script>

<div
  use:swipe={{ timeframe: 300, minSwipeDistance: 150, touchAction: null }}
  on:swipe={swipeHandler}
  class="w-full h-full text-sm md:text-base touch:h-24 flex items-center justify-center overflow-hidden portrait:px-0"
>
  {#key currentPoint}
    {#if points[currentPoint].type === "link"}
      <a
        class="{points[currentPoint]
          .type} absolute mb-3 px-4 flex flex-col items-center linkButton"
        href={currentMedia.assets[0].src}
        target="_blank"
        rel="noreferrer"
        in:slide={{ out: -flyDirection, duration: 300 }}
        out:slide={{ out: flyDirection, duration: 300 }}
      >
        <h2 class="text-center">
          {currentMedia.title}
        </h2>
        <span
          class="bg-current pl-3 mt-3 text-[.8em] flex items-center rounded-full uppercase"
        >
          <span class="text-[#1f1f1f]">{texts.external[lang]}</span>
          <div
            class="play ml-1 h-5 w-5 p-[0.15rem] rounded-full border-[1px] border-current bg-[#1f1f1f]"
          >
            <Icons type="external" />
          </div>
        </span>
      </a>
    {:else}
      <button
        class="{points[currentPoint]
          .type} absolute mb-3 px-4 flex flex-col items-center linkButton"
        on:click={() =>
          goto(
            `${base}/${
              $page.params.hasOwnProperty("lang") ? `${$page.params.lang}/` : ""
            }${$page.params.chapter}#${currentPoint}`
          )}
        in:slide={{ out: -flyDirection, duration: 300 }}
        out:slide={{ out: flyDirection, duration: 300 }}
      >
        <h2 class="text-center text-[]">
          {currentMedia.title}
        </h2>
        <span
          class="bg-current pl-3 mt-3 text-[.8em] flex items-center rounded-full uppercase"
        >
          <span class="text-[#1f1f1f]">{texts[points[currentPoint].type][lang]}</span>
          <div
            class="play ml-1 h-5 w-5 p-1 pl-[0.3rem] rounded-full border-[1px] border-current bg-[#1f1f1f]"
          >
            <Icons type="play" />
          </div>
        </span>
      </button>
    {/if}
  {/key}
</div>

<style lang="postcss">
  .mask {
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .linkButton:hover .play {
    @apply bg-transparent text-[#1f1f1f];
  }
</style>
