<script lang="ts">
  import { pan } from 'svelte-gestures'
  import { createEventDispatcher } from 'svelte'
  const emit = createEventDispatcher()

  export let barSize: number
  let progressBar: HTMLButtonElement

  export const getProgress = (xPos: number) => (xPos - progressBar.getBoundingClientRect().left) / progressBar.clientWidth
</script>

<button
  bind:this={progressBar}
  use:pan
  on:mousedown={() => emit('mousedrag')}
  on:pandown={() => emit('dragging')}
  on:panmove={(e) => emit('move', e.detail)}
	on:panup={() => emit('release')}
  on:click={(e) => emit('transmit', getProgress(e.clientX))}
  class="relative flex items-center w-full h-1 bg-stone-400 rounded-full cursor-pointer">
  <div
    class="absolute h-1 bg-[#FFCD00] rounded-full shadow-inner flex items-center"
    style="width: {barSize * 100}%">
    <div class="bullet" />
  </div>
</button>

<style lang="postcss">
	.bullet {
		@apply absolute w-4 h-4 right-0 z-20 bg-[#FFCD00] rounded-full shadow cursor-pointer;

		transform: translateX(50%);
	}
</style>