<script lang="ts">
  import { page } from "$app/stores";
  import { base } from "$app/paths";
  import { goto } from "$app/navigation";
  import { createEventDispatcher } from "svelte";
  import Curve from "./curve.svelte";
  import pages_pt from "$data/pt/pages";
  import pages_en from "$data/en/pages";

  const pages = $page.params.hasOwnProperty('lang') ? pages_en : pages_pt;

  const emit = createEventDispatcher();

  export let config = 0;
  export let barSize: number;
  export let paused: boolean;

  let mounted = false;
  let curve: Curve;
  let points = pages["page" + $page.params.chapter].links;
  let pointsPositions = [] as { x: number; y: number }[];

  let curveLoaded = () => {
    mounted = true;
    setPositions();
  };

  const setPositions = () => {
    if (!mounted || !curve) return;
    if (typeof curve.getCurvePoint !== "function") return;
    setPointsPositions();
  };

  const setPointsPositions = () => {
    pointsPositions = [];
    for (let i = 1; i <= points.length; i++) {
      pointsPositions.push(curve.getCurvePoint(i / (points.length + 1)));
    }
  };

  const updateKey = (key: number) => {
    if (key === config) return;
    emit("transmit", key);
  };

  const handleClick = (key: number) => {
    if (key === config) {
      points[key].type === "link"
        ? window.open(points[key].assets[0].src, "_blank").focus()
        : goto(`${base}/${$page.params.hasOwnProperty('lang') ? `${$page.params.lang}/` : ''}${$page.params.chapter}#${key}`);
    } else {
      updateKey(key);
    }
  };

  const updatePointPercent = (value: CustomEvent) => {
    updateKey(Math.floor(parseFloat(value.detail) * points.length));
  };

  export const getProgress = (xPos: number) =>
    (xPos - curve.getLeft()) / curve.getWidth();
</script>

<div class="relative w-full h-full flex justify-center">
  <Curve
    bind:this={curve}
    isCurved={paused}
    {barSize}
    on:loaded={curveLoaded}
    on:update={setPositions}
    on:dragging={() => emit("dragging")}
    on:moving={(e) => emit("move", { clientX: e.detail })}
    on:release={() => emit("release")}
    on:skipTo={(e) => emit("skipTo", { clientX: e.detail })}
    on:setPercentLenght={updatePointPercent}
  />

  {#each pointsPositions as pointPosition, key}
    <button
      class="absolute {points[key]
        .type} bg-current z-30 ring-4 ring-[#1f1f1f] rounded-full
            transform -translate-x-1/2 -translate-y-1/2 cursor-pointer transition-opacity duration-500
            {config === key
        ? `ring-current border-[#1f1f1f] border-4 w-4 md:w-5 h-4 md:h-5`
        : 'ring-[#1f1f1f] w-2 md:w-3 h-2 md:h-3'}
            touch:pointer-events-none"
      class:pointer-events-none={!paused}
      class:opacity-0={!paused}
      style={"top: " + pointPosition.y + "%; left: " + pointPosition.x + "%"}
      on:pointerdown={() => handleClick(key)}
      on:mouseover={() => updateKey(key)}
      on:focus={() => updateKey(key)}
    />
  {/each}
</div>

<style>
  .marker {
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid white;

    transition: transform 0.4s 0.2s ease-in-out, opacity 0.4s 0.2s ease-in-out;
  }

  .remove-transition {
    transition: none;
  }
</style>
