@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoMono';
  font-weight: 300;
  src: url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Light.eot');
  src: local('RobotoMono-Medium'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Light.woff') format('woff'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Light.ttf') format('truetype');
}

/* @font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  src: url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Regular.eot');
  src: local('RobotoMono-Medium'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
} */

@font-face {
  font-family: 'RobotoMono';
  font-weight: 400;
  src: url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Medium.eot');
  src: local('RobotoMono-Medium'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Medium.woff') format('woff'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: 700;
  src: url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Bold.eot');
  src: local('GothamMedium'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'), url('https://historiasdosubsolo.org/assets/fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'GothamBook';
  src: url('https://historiasdosubsolo.org/assets/fonts/GothamBook/GothamBook.eot');
  src: local('GothamBook'), url('https://historiasdosubsolo.org/assets/fonts/GothamBook/GothamBook.woff') format('woff'), url('https://historiasdosubsolo.org/assets/fonts/GothamBook/GothamBook.ttf') format('truetype');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('https://historiasdosubsolo.org/assets/fonts/GothamMedium/GothamMedium.eot');
  src: local('GothamMedium'), url('https://historiasdosubsolo.org/assets/fonts/GothamMedium/GothamMedium.woff') format('woff'), url('https://historiasdosubsolo.org/assets/fonts/GothamMedium/GothamMedium.ttf') format('truetype');
}

html, body {
  @apply h-full text-white bg-[#1f1f1f];

  font-family: 'RobotoMono' !important;
}

svg {
  width: 100%;
  height: 100%;
}

h1, h2 {
  padding-top: 0.20rem;
}

h1 mark {
  @apply text-black uppercase bg-white p-2 lg:text-2xl lg:p-3;
}

p {
  @apply mb-4;
}

.apply-transition {
  transition: all .3s ease-in-out;
}

.round-button {
  @apply w-12 h-12 p-3 bg-black bg-opacity-30 rounded-full transition-all duration-200;
}

.round-button:hover {
  @apply bg-opacity-60;
}

mark {
  box-decoration-break: clone
}

.lottie-player {
  @apply absolute w-full aspect-video p-4 justify-center;
}

.lottie-wrapper {
  @apply w-full h-full;
}

.lottie-wrapper > div {
  @apply flex justify-center w-full h-full;
}

.button {
  @apply px-3 border-2 text-white border-white uppercase;

  font-family: 'GothamMedium';
  padding-top: 0.20rem;
}

.button:hover {
  @apply bg-white bg-opacity-30;
}

:root {
  --audio: #9e005d  ;
  --documento: #9bb86d;
  --galeria: #f15a24;
  --imagem: #d00000;
  --video: #ffcd00;
  --link: #6357bf;
}


.audio {color: var(--audio)}
.documento {color: var(--documento)}
.galeria {color: var(--galeria)}
.imagem {color: var(--imagem)}
.video {color: var(--video)}
.link {color: var(--link)}